
.shake {
    animation: shake 0.5s linear infinite both;
    &:hover{
        animation: shake 0s ;
    }
   }
   .fly{
    animation: fly 6s linear infinite both;
  }
   
   @keyframes shake {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
   @keyframes fly {
    0% {
      transform: translateY(0);
     }
    
     20% {
      transform: translateY(-20px);
     }
   
    
     80% {
      transform: translateY(20px);
     }
    
     100% {
      transform: translateY(0);
     }
  }
 
  @keyframes O {
    0% {
      transform: rotateX(0deg);
     }
    
     20% {
      transform: rotateX(90deg);
     }
   
    
     80% {
      transform: rotateX(-90deg);
     }
    
     100% {
      transform: rotateX(0deg);
     }
  }
  .O{
    animation: O 10s linear infinite both;

  }

  .Dot{
    animation: Dot 1s linear infinite both;

  }
  
  @keyframes Dot {
    0% {
      scale: 1;
     }
    
     20% {
      scale: .8;
     }
   
    
     50% {
      scale: .4;
     }
     80% {
      scale: .8;
     }
    
     100% {
      scale: 1;
     }
  }