@mixin Flex {
    display: flex;
    justify-content: center;
    align-items: center !important;
}

@mixin Shadow {
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);

}

@mixin devices ($breakpoint) {
  @if $breakpoint == Laptop {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
  
  @if $breakpoint == laptop {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
    @if $breakpoint == tablet {    
    @media only screen and (max-width: 950px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 720px) {
      @content;
    }}
  
}